---
layout: default
---

<!---
<style>
img {
    float: left;
    width: 100px;
    height: auto;
}
</style>
-->

<div>
    <img src="{{ baseurl }}/images/carlton-griffith.png" style="float: left;width: 150px;height: auto;padding-right: 50px;">
    <a href="https://www.linkedin.com/in/carlton-griffith-917bba29/detail/photo/"><h5>Carlton Griffith</h5></a>
        <h6><i>Board Chair</i></h6>
    <h6>Chief Operating Officer at The SITE Group</h6>
</div>
<div>
    <img src="{{ baseurl }}/images/Picture2.png" style="float: left;width: 150px;height: auto;padding-right: 50px;">
    <a href="https://www.linkedin.com/in/grant-gorchynski-cpa-ca-48a827146/"><h5>Grant Gorchynskyi</h5></a>
        <h6><i>Board Member – Treasurer</i></h6>
    <a href="http://www.lisgardev.ca/"><h6>Chief Operations Officer at Lisgar Development Ltd.</h6></a>
</div>
<div>
    <img src="{{ baseurl }}/images/jennifer-turner.jpg" style="float: left;width: 150px;height: auto;padding-right: 50px;">
    <a href="https://www.linkedin.com/in/jennifer-turner-123a06b7/"><h5>Jen Turner</h5></a>
        <h6><i>Board Member</i></h6>
    <h6>Community Investment Coordinator at UWGT</h6>
</div>
<div>
    <img src="{{ baseurl }}/images/randy.png" style="float: left;width: 150px;height: auto;padding-right: 50px;">
    <a href="https://www.linkedin.com/in/randyosei/"><h5>Randy Osei</h5></a>
        <h6><i>Board Member</i></h6>
    <a href="http://www.rozaaymgmt.com/"><h6>Founder of Rozaay Management</h6></a>
</div>
<div>
    <img src="{{ baseurl }}/images/Ehsan-khandaker.png" style="float: left;width: 150px;height: auto;padding-right: 50px;">
    <a href="https://www.linkedin.com/in/ehsan-khandaker-a99b7815/"><h5>Ehsan Khandaker</h5></a>
        <h6><i>Board Member</i></h6>
    <h6>Executive Director of Rotary Club Mississauga</h6>
</div>
<div>
    <img src="{{ baseurl }}/images/patricia-nketia.jpg" style="float: left;width: 150px;height: auto;padding-right: 50px;">
    <a href="https://www.linkedin.com/in/patricia-nketia/"><h5>Patricia Nketia</h5></a>
        <h6><i>Board Member</i></h6>
    <h6>Business & IT Consultant</h6>
</div>
<div>
    <img src="{{ baseurl }}/images/faraz.png" style="float: left;width: 150px;height: auto;padding-right: 50px;">
    <a href=" https://www.linkedin.com/in/faraazkhandaker"><h5>Faraaz Khandaker</h5></a>
        <h6><i>Board Member</i></h6>
    <h6>Paid Media Analyst at iProspect</h6>
</div>
<div>
    <img src="{{ baseurl }}/images/Tav-black.png" style="float: left;width: 150px;height: auto;padding-right: 50px;">
    <a href="https://www.linkedin.com/in/tav-malhotra-71725720/"><h5>Tav Malhotra</h5></a>
        <h6><i>Honorary Board Member</i></h6>
    <a href="https://manshafinancial.com"><h6>President of Mansha Financial</h6></a>
</div>
<div>
    <img src="{{ baseurl }}/images/bianca_aziz.png" style="float: left;width: 150px;height: auto;padding-right: 50px;">
    <a href="https://www.linkedin.com/in/biancaaziz/"><h5>Bianca Aziz</h5></a>
        <h6><i>Board Member</i></h6>
    <a href="#"><h6>Senior Manager Scotiabank</h6></a>
</div>
<div>
    <img src="{{ baseurl }}/images/yonathan-kristos.jpeg" style="float: left;width: 150px;height: auto;padding-right: 50px;">
    <a href="https://www.linkedin.com/in/yonathan-kristos-58961977/"><h5>Yonathan Kristos</h5></a>
        <h6><i>Board Member</i></h6>
    <a href="https://www.instagram.com/blacklivesforchange_/"><h6>Co-Founder, Black Lives for Change</h6></a>
</div>
<div>
    <img src="{{ baseurl }}/images/Haakon-Pedersen.png" style="float: left;width: 150px;height: auto;padding-right: 50px;">
    <a href="https://www.linkedin.com/in/haakonpedersen/"><h5>Haakon Pedersen</h5></a>
        <h6><i>Board Member</i></h6>
    <a href="#"><h6>Regional Vice-President and Portfolio Manager, IceCap Asset Management Limited</h6></a>
</div>  